
$pc: #35C5EE;
$sc: #0F3641;
$tc: #227E98;
$qc: #EDE9E3;

$textColor:#6d949c;
$font-size:17px;
$font-weight:300;

$font1:'Noto Serif', serif;
$font2:'Poppins', sans-serif;

$primary: $pc;
$secondary: $sc;

$link: $pc;
$text: $textColor;
