
$pc: #016A7F;
$sc: #DD9A2E;
$tc: #014451;
$qc: #E7F1F3;

$textColor:#6d949c;
$font-size:17px;
$font-weight:300;

$font1:'Noto Serif', serif;
$font2:'Poppins', sans-serif;

$primary: $pc;
$secondary: $sc;

$link: $pc;
$text: $textColor;
