@charset "UTF-8"; 	
// core.scss



@import '_includes/_variables';
@import '_includes/bulma/bulma.sass';
@import '_includes/_themebase';
@import '_includes/_typography';
@import '_includes/_typequeries';
@import '_includes/_header';
@import '_includes/_search';
@import '_includes/_slider';
@import '_includes/vendors/_hamburgers';




.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition:none !important;;
}


html.js {
    margin-top: 0 !important;
}


html.menuOpen {
	overflow: hidden;
}


body.admin-bar {
	@include desktop {
		padding-bottom: 32px!important;
	}
	#wpadminbar {
		top: auto;
		bottom: 0;
		display: none;
		.menupop .ab-sub-wrapper {
			bottom: 31px; 
		}
		@media screen and (min-width: 601px) {
			display: inline-block;
		}
	}

}


.cartMenu {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}


hr {
    margin: 60px 0;
    border: 0 none;
    border-top: 1px solid #d9d9d9;
}



.lazy {
	opacity: 0;
	transition: opacity .7s ease-in-out .2s;
}


.lazy-loaded {
	transition: opacity .7s ease-in-out .2s;
	opacity: 1;
}


.objectFit {

	&.compat-object-fit {
	   background-size: cover;
	   background-position: center center;

	   img {
	   	opacity: 0;
	   }
	}

	img {
		width: 100%;
		height: 100%;
		max-width: none;
		object-fit: cover;
	}
}



.is-type-video {
	.wp-block-embed__wrapper {
		position:relative;
		padding-bottom:56.25%;
		padding-top:30px;
		height:0;
		overflow:hidden;

		iframe, object, embed {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}

	}
}


section.section {
	@include touch {
		padding: 3rem 3.5rem;
	}
	@include tiny {
		padding: 3rem 2rem;
	}
	@include desktop {
		padding: 3rem 4rem;
	}
}


svg.icon.leftArrow {
    transform: rotate(180deg);
}


/* ==========================================================================
   Modifiers
   ========================================================================== */

.content figure {
	margin: 0;
}




/* ==========================================================================
   Location Map
   ========================================================================== */


.map-container {

	.acf-map {
		width: 100%;
		height: 600px;
		border: 0 none;
		margin: 0;
		box-shadow: 0 0 10px rgba(0,0,0,.2);
	}

	/* fixes potential theme css conflict */
	.acf-map img {
	   max-width: inherit !important;
	}

	.gm-style-iw {
		h2, h3, h4, h5 ,h6 {
			color: $pc;
		}
		color: $textColor;
		padding: 20px!important;
	    border-radius: 3px!important;
	    box-shadow: 0 2px 7px 1px rgba(0,0,0,0.1)!important;
	    max-width: 150px;
		.gm-style-iw-d {
			div{
				width: 100%;
				h4 {
					margin-top: 10px;
				}
				&>p {
					margin: 0;
					font-weight: bold;
				}
				.theContent {

					p {
						font-weight: normal;
					}
				}
			}
		}
	}
}





/* ==========================================================================
   Elementor Section Sizes / settings
   ========================================================================== */


.elementor-toggle .elementor-tab-title .elementor-toggle-icon {
	    transform: scale(.6);
}


ul.elementor-editor-element-settings {
	margin: 0;
}


section.elementor-section-stretched {
	&> .elementor-container {
	  width: 90%;
	  @include widescreen {
	    width: 90%;
	  }
	}
	&.elementor-section-full_width{
		.elementor-container {
		  width: 100%;
		  @include widescreen {
		    width: 100%;
		  }
		}
	}
}



section.elementor-section-boxed {

	&.elementor-section-stretched {
		
		@include touch {
			padding-left: 3.5rem!important;
			padding-right: 3.5rem!important;
		}
		@include mobile {
			padding-left: 2rem!important;
			padding-right: 2rem!important;
		}
		@include desktop {
			padding-left: 4rem!important;
			padding-right: 4rem!important;
		}
	}
	&> .elementor-container {
	  width: 100%;
	  .elementor-container {
	  	width: 100%;
	  }

	}
	&.fullwidth {
		&> .elementor-container {
		  width: 100%;
		  @include widescreen {
		    width: 100%;
		  }
		  .elementor-container {
		  	width: 100%;
		  }
		}
	}
}


nav.elementor-pagination {
	color: #999;
    background: none;
    box-shadow: none;
    margin: 30px 0;
    padding-top: 20px;
    border-top: 1px solid #efefef;
}

body.single-post {
    section.elementor-section-boxed {
      &> .elementor-container {
        width: 100%;
        .elementor-container {
          width: 100%;
        }
      }
    }
}

.elementor-section > .elementor-column-gap-default > .elementor-row {
	width: calc(100% + 20px);
	margin-left: -10px;
	margin-right: -10px;
}

.elementor-section > .elementor-column-gap-narrow > .elementor-row {
	width: calc(100% + 10px);
	margin-left: -5px;
	margin-right: -5px;
}

.elementor-section > .elementor-column-gap-extended > .elementor-row {
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;
}

.elementor-section > .elementor-column-gap-wide > .elementor-row {
	width: calc(100% + 40px);
	margin-left: -20px;
	margin-right: -20px;
}

.elementor-section > .elementor-column-gap-wider > .elementor-row {
	width: calc(100% + 60px);
	margin-left: -30px;
	margin-right: -30px;
}

.elementor-text-editor {
	p {
		margin-top: 0;
	}
}





/*---------------------------------------*\
   Sidebar Children NAV for PAGE Template
\*---------------------------------------*/

.childnav_toggle {
  cursor: pointer;
  margin-bottom: 10px;

	@include desktop {
	display:none!important;
	}
}


.childNav {
	* {
		box-sizing: border-box;
	}
	@include until(desktop) { 
	display:none;
	}
	@include desktop {
	display:block!important;
	}
	ul {
		list-style: none;
		padding-left: 0;
	}
	ul.submenu {

		padding-right: 20px;
		list-style: none;
		padding-left: 0;
		li {
			list-style: none;
			border-top: 1px solid #efefef;

			&.current_page_item {
				background-color: transparent;
				&> a {
					background-color: #f7f7f7;
				}
			}

			a {
				padding: 19px 20px;
				    display: inline-block;
				    width: 100%;
			}
		}
		.parentTitle {
			border-top: 0 none;
		}
		.current_page_item {
			background-color: #f7f7f7;
		}
	}


	.page_item_has_children {
		position: relative;

		.children {
			display: none;
			li {
				border-top: 0;
				a {
					padding: 10px 20px;
				    font-size: .9em;
				    color: #999;
				}
			}
		}
		&.current_page_item, &.current_page_parent {
			background-color: transparent;
			&>.children {
				display: block;
			}
		}
		.toggle {

		    position: absolute;
		    right: 0;
		    width: 25px;
		    height: 25px;
		    top: 19px;
		    font-size: 15px;
		    display: inline-block;
		    line-height: 31px;
		    color: #a1b1bc;

		    &::after {
		    	color: $pc;
				content: "\f123";
			    display: inline-block;
			    font-family: "Ionicons";
			    speak: none;
			    font-style: normal;
			    font-weight: normal;
			    font-variant: normal;
			    text-transform: none;
			    top: 50%;
			    margin-top: -8px;
			    text-rendering: auto;
			    right: 7px;
			    line-height: 1;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    position: absolute;
			    transition: transform .3s;

			}	

			&.opened {
				&::after {
					transform: rotate(180deg);
				}
			}
		}
	}
}






/*---------------------------------------*\
    Pagination
\*---------------------------------------*/

.pagination {
    position: relative;
    text-align: center;
    z-index: 2;
    margin-top: 50px;
    margin-bottom: 30px;

    display: inline-block;
    width: 100%;
    .pageGuide {
    	display: none;
    }
    a {
    	padding: 4px 8px;
    }
    a.inactive {
	    padding: 4px 8px;

	    display: inline-block;

	    margin: 0 6px;
    }
    span.current {
	    padding: 4px 8px;
	    display: inline-block;
	    margin: 0 6px;

    	&.dots {
    		color: $sc;
    		border: 0 none;
    	}
    }
    .lastLink {
    	padding-left: 20px;
    }
    .firstLink {
    	padding-right: 20px;
    }
}






#mailchimpForm {
	background-color: #f7f7f7;
	position: relative;
	z-index: 2;
	width: 100%;
	.container {

		.columns {
    	align-items: center;
		}

	    padding: 40px 40px;
	    position: relative;
	    h2, h3, h4, h5 {
	    	font-size: 2.3em;
	    	line-height: 1.2em;
	    }
	    p {
	    	font-size: 1.3em;
	    }


	    .mc-field-group {
	    	text-align: right;
	    	input {
				&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
				  color: $pc;
				  opacity: .6;
				}

				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				  color: $pc;
				  opacity: .6;
				}

				&::-ms-input-placeholder { /* Microsoft Edge */
				  color: $pc;
				  opacity: .6;
				}
	    	}
	    	input[type=text] {
	    		width: 100%;
			    background-color: rgba(0,0,0,.05);
			    box-shadow: none;
			    border: 0 none;
			    border-radius: 0;
			    color: $pc;
	    	}
	    	input[type=email] {
	    		width: 100%;
			    background-color: rgba(0,0,0,.05);
			    box-shadow: none;
			    border: 0 none;
			    border-radius: 0;
			    color: $pc;
	    	}

	    }
	}
}




.ctaContact {
	width: 100%;
	background-color: $pc;
	position: relative;
	color: #fff;

	.ctaImage {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    img {
	    	opacity: .1;
	    }
	}

	.container {
		h1, h2, h3, h4, h5, h6 {
			color: #fff;
		}
		.ctaText {

		}
		.ctaAction {

		}
	}

}



/*---------------------------------------*\
    Footer
\*---------------------------------------*/

body.home {
	#pageContent {
		padding-bottom: 0;
	}

}

footer.footer {
	background-color: $tc;
	color: #fff;
	font-size: .8em;
	z-index: 0;
	position: relative;

	a, a:link , a:visited {
		color: #fff;
	}

	ul {
		list-style: none;
		padding-left: 0;
		li {
			list-style: none;
		}
	}

	.logo {
		width: 90%;
    	max-width: 240px;
		margin: 0 auto 30px;
		@include tablet {
			margin: 0 0 30px 0;
		}
		img {
			width: 100%;
		}
	}
	.container {
		position: relative;
		.menu {
		    font-size: 1em;
		    li {
		    	margin-bottom:8px;
		    }
		}		
		.columns {
			flex-wrap: wrap;
			.column.is-one-third {
				@include desktop {
					padding-right: 6%;
				}
			}
		}

		hr {
			margin: 10px 0 20px;
			opacity: .3;
		}
		h1, h2, h3, h4, h5, h6 {
			font-family: $font2;
			font-size: 1.1em;
			color: #fff;
			margin-bottom: 14px;
			margin-top: 0;
			@include tablet {
				font-size: 1.2em;
			}
			@include desktop {
				font-size: 1.3em;
			}
		}
		p {

			margin-top: 0;

		}
		strong {
			color: #fff;
		}
		.textwidget {

		}
	}

	.socialIcons {
		display: inline-block;
		height: 100%;
		position: relative;
		margin-bottom: 30px;
		@include tablet {
			float: right;
		}
		a {
			height: 100%;
			display: inline-block;
			vertical-align: middle;
			&:hover {
				color: $sc;
				svg {
					* {
						fill: lighten($pc,30%);
					}
				}
			}
			svg {
				* {
					fill: #fff;
				}
			}
		}
	}


	.copyright {
		line-height: normal;
		font-size: .9em;
	}
}



/*---------------------------------------*\
    Widgets & Shortcodes
\*---------------------------------------*/
.socialIcons {
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
	
	ul {
		margin:0;
		li {
			list-style: none;
			display: inline-block;
		}
	}
	a {
		height: 100%;
		width: 30px;
		display: inline-block;
		vertical-align: middle;
		&:hover {
			color: $sc;
			svg {
				* {
					fill: lighten($pc,30%);
				}
			}
		}
		svg {
			* {
				fill: $pc;
			}
		}
	}
}




/*---------------------------------------*\
    News Style
\*---------------------------------------*/

.page-template-page-news, body.category, body.home {

	.newsFeed {
		img.newsImage {
		    width: 100%;
		}

		.newsDesc {
			padding: 20px 0;
			h3 {
				font-weight: normal;
				font-size: 1.6em;
			}
			.postedIn {
				font-size: .8em;
			}
		}

		article.column {
			margin-bottom: 30px;

			.postWrap {
			    height: 100%;
			    position: relative;


			    .readMore {

			    }
			}
		}
	}

}


/*---------------------------------------*\
    Single Page
\*---------------------------------------*/

body.single-post {

	.pageHead {

	}

}



.prevnext {
	display: inline-block;
	width: 100%;
	border-top: 1px solid #efefef;
	margin-top: 50px;
	@include desktop {
    	display: flex;
    }
    * {
    	box-sizing: border-box;
    }
	.prevlink {
		display: inline-block;
		width: 100%;
		text-align: center;
		@include desktop {
			width: 50%;
			float: left;
			text-align: left;
		}
		a {
			display: inline-block;
			width: 100%;
			padding: 20px 40px 20px 40px;
			color: $sc;
			@include desktop {
				padding: 20px 0 20px 50px;
			}
			float: left;
			position: relative;
			svg {
			    position: absolute;
			    top: 20px;
			    left: 4px;
			    font-size: 30px;
			}
			&:hover svg {
			  -moz-animation: leftarrow 1s infinite;
			-webkit-animation: leftarrow 1s infinite;
			     -o-animation: leftarrow 1s infinite;
			        animation: leftarrow 1s infinite;
			}
		}
	}
	.nextlink {
		display: inline-block;
		width: 100%;
		text-align: center;
		@include desktop {
			width: 50%;
			float: right;
			text-align: right;
		}
		a {
			display: inline-block;
			float: left;
			width: 100%;
			padding: 20px 40px 20px 40px;
			color: $sc;
			@include desktop {
				padding: 20px 50px 20px 0;
			}
			position: relative;
			svg {
			    position: absolute;
			    top: 20px;
			    right: 4px;
			    font-size: 30px;
			}
			&:hover svg {
				  -moz-animation: rightarrow 1s infinite;
				-webkit-animation: rightarrow 1s infinite;
				     -o-animation: rightarrow 1s infinite;
				        animation: rightarrow 1s infinite;
			}
		}
	}
}
@keyframes leftarrow {
    0% { left: 4px; }
    50% { left: 10px; }
    100% { left: 4px; }
}
@keyframes rightarrow {
    0% { right: 4px; }
    50% { right: 10px; }
    100% { right: 4px; }
}

#pageContent {

	.sidebar-widget {
		&>div {
			    margin: 40px 0;
		}
		.widget_recent_entries {
			ul {
				list-style-type: none;
				padding: 0;
				li {
					list-style-type: none;
					margin-bottom: 20px;
				}
			}
		}
	}
}





/* ==========================================================================
   404 Page
   ========================================================================== */

.error404 {

	img {
		max-width: 300px;
	}

	h3 {
		margin-bottom: 20px;
	}
	.pageHead {
		display: none;
	}
	.pageNotFound {
		margin-top: 2%;

		max-width: 1000px;
		text-align: center;
	}
	#post-404 {
		padding: 10% 0;

		@include tablet {
		padding: 0 10% 100px;
		}
		.search-input {
			background-color: #f5f5f5;
			text-align: center;
				::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
				  text-align: center;
				}

				:-ms-input-placeholder { /* Internet Explorer 10-11 */
				  text-align: center;
				}

				::-ms-input-placeholder { /* Microsoft Edge */
				  text-align: center;
				}
		}
	}
}






@import '_includes/_print';