@charset "UTF-8"; 	





body.login {
	background: #222;

	#login {
	    width: 440px;
	    max-width: 95%;
		form {
		    background: transparent;
		    box-shadow: none;

			.input, input[type=checkbox], input[type=text] {
			    background: rgba(0,0,0,.2);
			    border: 1px solid #333;
			}
			input[type=text], input[type=password] {
			    height: 3rem;
			    color: #efefef;
			}

			.button.button-large {
			    height: 3rem;
			    line-height: 28px;
			    padding: 0 34px 2px;
			    text-transform: uppercase;
			}

		}
	}
}